@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul,
li,
ol {
    text-decoration: none;
    list-style: none;
}

@media all and (min-width:1100px) {

    /* 섹션1 */
    #sec1 {
        width: 100%;
        background-color: #222;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .sec1div1 {
        width: 1100px;
        height: auto;
        background-color: #222;
    }

    .sec1div1>div:first-child {
        display: flex;
        margin-top: 30px
    }

    .sec1div1>div>input {
        width: 150px;
        height: 30px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 15px;
        color: white;
        text-align: center;
    }

    .sec1div1>div>ul {
        display: flex;
        margin: 0px 30px;
    }

    .sec1div1>div>ul>li {
        margin: 0px 30px;
    }

    .sec1div1>div:nth-child(2) {
        margin: 30px;
    }
    .sec1div1{
        width: 1100px;
    }
    .sec1div1>div>ul>li{
        margin:0px 30px;
    }
    .sec1div1>div>input{
        width:150px; 
    }
    .sec1div1>div>ul{
        display: flex;
        margin:0px 30px;
    }

    #event {
        width: 100%;
        height: 861px;
        background-color: #222222;
        position: relative;
    }

    .container {
        width: 1100px;
        height: 100%;
        margin: 0 auto;
        padding-top: 70px;
    }

    .container1 {
        width: 1100px;
        height: 1405px;
        margin: 0 auto;
        /* display: flex; */
    }

    .e {
        width: 100%;
        height: 64px;


    }

    .search {
        width: 10%;
        height: 34px;
        background-color: #666666;
        margin: 0.7%;
        position: absolute;
        border-radius: 52px;
        opacity: 0.8;
        margin: 32px 0px 0px 2px;
    }



    .search img {
        width: 18%;
        height: 109%;
    }

    .e ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 3.5% 45% 0% 14%;
    }

    .e ul li {
        color: #fff;
    }

    #arr {
        width: 100%;
        height: 725px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .e p {
        margin-top: 30px;
        color: #fff;
        font-size: 12px;
        margin-left: 1.5%
    }

    #arr article {
        width: 48%;
    }

    article img {
        width: 100%;
        height: 100%;
    }

    #arr p {
        margin-top: 41px;
        color: gray;
        font-size: 12px;
    }

    #arr span {
        margin-top: 30px;
        color: #fff;
        font-size: 16px;
    }

    .mspan button {
        width: 120px;
        height: 30px;
        border: 1px solid white;
        color: white;
        font-size: 12px;
        background-color: #222222;
    }

    #box {
        width: 100%;
        height: 2333px;
        background-color: #222222;
    }

    .ex {
        width: 100%;
        height: 403px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .exp {
        color: #fff;
        font-size: 20px;
        width: 100%;
        font-family: 'Rowdies', cursive;
        line-height: 81px;
    }

    .ex1 {
        width: 48%;
        height: 90%;
    }

    .ex1 img {
        width: 100%;
        height: 100%;
    }

    .exx {
        width: 48%;
        height: 90%;
    }

    .exx ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .exx li {
        width: 48%;
        height: 48%;
    }

    .exx li img {
        width: 100%;
        height: 100%;
    }

    .expp {
        color: #FFF;
        font-size: 16px;
        margin-top: 45px;
    }

    .expp button {
        width: 120px;
        height: 30px;
        border: 1px solid white;
        color: white;
        font-size: 12px;
        background-color: #222222;
    }

    .Ex {
        width: 100%;
        height: 403px;
        margin-top: 28%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        display: flex;

    }

    .video {
        width: 1100px;
        height: 403px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .video video {
        width: 528px;
        height: 326px;
    }

    .Ex2 {
        width: 100%;
        height: 77%;
        margin: 0% 0% 0% 9%;
        align-self: center;
    }

    .Ex3 {
        width: 100%;
        height: 77%;
        margin: 0% 8% 0% 7%;
        align-self: center;
    }

    .Ex3 img {
        width: 100%;
        height: 100%;
        margin: 0% 8% 0% 0%;
        align-self: center;
    }

    .dont {
        width: 528px;
        height: 403px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .dont img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 528px;
        height: 298px;
    }

    .EX {
        width: 100%;
        height: 60%;
        margin-top: 75px;
        display: flex;
        align-items: center;
    }

    .Exp {
        font-size: 20px;
        color: #FFF;
        width: 100%;
        font-family: 'Rowdies', cursive;
        margin-bottom: -16px;
    }

    .Expp {
        color: #FFF;
        font-size: 16px;
        margin-top: -6px;
    }

    .Expp button {
        width: 120px;
        height: 30px;
        border: 1px solid white;
        color: white;
        font-size: 12px;
        background-color: #222222;
    }

    .skin {
        width: 52%;
        height: 100%;
    }

    .skin2 {
        width: 52%;
        height: 100%;
    }

    .Fs {
        width: 100%;
        height: 147px;
        margin-top: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .a {
        width: 100%;
        color: #FFF;
        font-size: 20px;
        margin-bottom: -4%;
        font-family: 'Rowdies', cursive;
    }

    .aaa {
        margin-top: 13%;
    }

    .Fs div {
        width: 220px;
        height: 136px;
        margin: 0% -2% 0% 0%;
    }

    .Fs img {
        width: 197px;
        height: 136px;
    }

    .Fs p {
        /* text-align: center; */
        /* margin: 2% -1% -7% -43%; */
        /* float: left; */
        /* font-size: 12px; */
        /* width: 100%; */
        /* height: 29%; */
        /* color: #FFF; */
        text-align: left;
    }

    .Ec {
        margin-top: 12%;
    }

    .Ec p {
        width: 100%;
        color: #fff;
        font-size: 20px;
        margin-bottom: -4%;
        font-family: 'Rowdies', cursive;
        margin-top: 19%;
    }

    .Ecpp {
        font-size: 16px;
        color: #FFF;
        margin-top: 38px;
    }

    .Ecpp button {
        width: 120px;
        height: 30px;
        border: 1px solid white;
        color: white;
        font-size: 12px;
        background-color: #222222;
    }

    .Lpp {
        font-size: 16px;
        color: #FFF;
        margin-top: 58px;
        text-align: left;
    }

    .Lpp button {
        width: 120px;
        height: 30px;
        border: 1px solid white;
        color: white;
        font-size: 12px;
        background-color: #222222;
    }
}