@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul,
li,
ol {
    text-decoration: none;
    list-style: none;
}

@media all and (min-width:1100px) {
    #event {
        width: 100%;
        height: 70vh;
        background-color: #222222;
        position: relative;
    }

    .container {
        width: 1100px;
        height: 100%;
        margin: 0 auto;
    }

    .container1 {
        width: 1100px;
        height: 100%;
        margin: 0 auto;
        display: flex;
    }

    .e {
        width: 100%;
        height: 64px;


    }

    .search {
        width: 10%;
        height: 34px;
        background-color: #666666;
        margin: 0.7%;
        position: absolute;
        border-radius: 52px;
        opacity: 0.8;
        margin: 32px 0px 0px 2px;
    }

    .search:hover {
        background-color: #fff;
        opacity: 0.3px;
    }

    .search img {
        width: 18%;
        height: 109%;
    }

    .e ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 3.5% 45% 0% 14%;
    }

    li {
        color: #fff;
    }

    .e p {
    margin-top: 30px;
    color: #fff;
    font-size: 12px;
    margin-left: 1.5%
}

    #arr article {
        width: 48%;
        height: 358px;
        float: left;
        margin: 1%;
    }

    article img {
        width: 100%;
        height: 100%;
        margin-top: 9%;
    }

    article img:hover {
        background-color: #fff;
        opacity: 0.5;
    }

    #arr p {
        margin-top: 30px;
        color: gray;
        font-size: 11px;
    }

    #arr span {
        margin-top: 30px;
        color: #fff;
    }

    .mspan span {
        font-size: 11px;
    }

    #box {
        width: 100%;
        height: 150vh;
        background-color: aqua;
    }
    .ex {
        width: 100%;
        height: 29%;
    }
    .ex1 {
        width: 50%;
        height: 100%;
    }
    .ex1 img {
        width: 100%;
        height: 100%;
        /* margin: 2%; */
        margin-top: 16px;
    }
    .ex1 img:hover{
    background-color: #fff;
    opacity: 0.5;}
    .exx {
    width: 48%;
    height: 101%;
    display: flex;
    margin: -37% 0px 0px 57%;
}
    .exx ul {
        width: 100%;
        height: 96%;
    }
    .exx li {
        width: 18%;
        height: 55%;
        margin: 1.4% 2% 0% 30%;
        float: left;
        padding: 0% 0% -1% 27%;
    }
    .exx li img {
        width: 267%;
        height: 84%;
        margin: 7px 0px 0px -209px;
    }

    .exx li img:hover{
        background-color: #fff;
        opacity: 0.5;
    }

    .Ex {
        width: 100%;
        height: 100%;
        background-color: blueviolet;
        margin-top: 75px;
        display: flex;
    }

    .Ex1 {
        width: 52%;
        height: 100%;
        background-color: #666666;
    }

    .Ex2 {
        width: 100%;
        height: 53%;
        background-color: yellow;
        margin: -4% 0% 0% 9%;
        /* display: block; */
        align-self: center;
    }
    .Ex3 {
        width: 100%;
        height: 53%;
        background-color: red;
        margin: -4% 8% 0% 7%;
        align-self: center;
    }
    .dont {
        width: 52%;
        height: 100%;
        background-color: pink;
        display: flex;
        align-items: center;
    }

    .EX{
        width: 100%;
        height: 60%;
        background-color: blue;
        margin-top: 75px;
        display: flex;
        align-items: center;
    }
    .skin {
        width: 52%;
        height: 100%;
        background-color: #666666;
    }
    .skin2 {
        width: 52%;
        height: 100%;
        background-color: red;
    }

    .Fs {
        width: 100%;
        height: 28.5%;
        background-color: blue;
        margin-top: 75px;
        display: flex;
        align-items: center;
    }
}